<a href="https://colab.research.google.com/github/AVIK-geophy/LB_DSC_NOV26/blob/main/INT_ASSIGNMENT_AVIK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTEGER ASSIGNMENTS

### Q. Declare an int value and store it in a variable. Check the type and print the id of the same.

In [ ]:
a=8
print(type(a),id(a))

<class 'int'> 140733133629440

### Q. Take one int value between 0 - 256. Assign it to two different variables. Check the id of both the variables. It should come the same. Check why?

In [ ]:
a=8
b=8
print(id(a))
print(id(b))

140733133629440
140733133629440

I have taken one int value 8 and stored it in two variables named 'a' and 'b'. It is observed that both variables are ponting to a same id. The reason can be attibuted as mentioned below:

In python everything is an object and all objects are stored in the Heap Area of the application.Generally in python a specific object is stored against a particular id in this heap area and this specific object can be pointed by different variables which are store in variable area. That is why id's of 'a' and 'b' are same.

### Q. Take one int value either less than -5 or greater than 256. Assign it to two different variables. Check the id of both the variables. It should come different.Check why?

In [ ]:
a=290
b=290
print(id(a))
print(id(b))

2128890989328
2128890989712

Id's of both the variables has come different because for values outside 0-256 the application stores the values in different id's in the heap area.

### Q. Arithmetic Operations on integers Take two different integer values. Store them in two different variables. Do below operations on them:-

In [ ]:
a=8
b=3

####  Find sum of both numbers

In [ ]:
print(a+b)

11

#### Find difference between them

In [ ]:
print(a-b)

5

#### Find product between them

In [ ]:
print(a*b)

24

#### Find value after dividing first num with second number

In [ ]:
print(a/b)

2.6666666666666665

#### Find the remainder after dividing first number with second number

In [1]:
print(a%b)

NameError: ignored

#### Find the quotient after dividing first number with second number

In [ ]:
print(a//b)

2

#### Find the result of the first num to the power of the second number.

In [ ]:
print(b**a)

6561

### Q. Comparison Operators on integers
Take two different integer values.
Store them in two different variables.
Do below operations on them:-
 Compare se two numbers with below operator:-
 
 Greater than, '>'

 Smaller than, '<'
 
 Greater than or equal to, '>='
 
 Less than or equal to, '<='
Observe their output(return type should be boolean)

In [ ]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

### Q. Equality Operator
Take two different integer values.
Store them in two different variables.

Equate them using equality operators (==, !=)

Observe the output(return type should be boolean)

In [ ]:
print(a==b)
print(a!=b)

False
True

### Q. Logical operators
Observe the output of below code

In [ ]:
print(10 and 0)

20

In [ ]:
print(0 and 20)

0

In [ ]:
print(20 and 0)

0

In [ ]:
print(0 and 0)

0

In [ ]:
print(10 or 20)

10

In [ ]:
print(0 or 20)

20

In [ ]:
print(20 or 0)

20

In [ ]:
print(0 or 0)

0

In [ ]:
print(not 10)

False

In [ ]:
print(not 0)

True

### Q. Bitwise Operators
Do below operations on the values provided below:-

In [ ]:
print(10 & 20)

0

In [ ]:
print(10 | 20)

30

In [ ]:
print(10^20)

30

In [ ]:
print(~10)

-11

###  Q. What is the output of expression inside print statement. Cross check before running the program.

In [ ]:
print ( 10 +( 10 * 32 )// 2 ** 5 & 20 +(~( -10 ))<< 2 )

20

### Q. Membership operation in, not in are two membership operators and it returns boolean value

In [ ]:
print ( '2' in 'Python2.7.8' )
print ( 10 in [ 10 , 10.20 , 10 + 20j , 'Python' ])
print ( 10 in ( 10 , 10.20 , 10 + 20j , 'Python' ))
print ( 2 in { 1 , 2 , 3 })
print ( 3 in { 1 : 100 , 2 : 200 , 3 : 300 })
print ( 10 in range ( 20 ))

True
True
True
True
True
True

### Q. An integer can be represented in binary, octal or hexadecimal form. Declare one binary, one octal and one hexadecimal value and store them in three different variables.

### Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.

In [ ]:
print(oct(9876))
print(bin(9876))
print(hex(9876))

0o23224
0b10011010010100
0x2694

### Q. What will be the output of following:-

In [ ]:
a = 0b1010000
print (a)
b = 0o7436
print(b)
c = 0xfade
print(c)
print(bin(80))
print(oct(3870))
print(hex(64222))
print(bin(0b1010000))
print(bin(0xfade))
print(oct(0xfade))
print(oct(0o7436))
print(hex(0b1010000))
print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade